{% extends 'base.html' %}

{% block content %}
<h2>Список профессий</h2>
{% set professions = [
        "инженер-исследователь",
        "пилот",
        "строитель",
        "экзобиолог",
        "врач",
        "инженер по терраформированию",
        "климатолог",
        "специалист по радиационной защите",
        "астрогеолог",
        "гляциолог",
        "инженер жизнеобеспечения",
        "метеоролог",
        "оператор марсохода",
        "киберинженер",
        "штурман",
        "пилот дронов"] %}
<{{ type_of_list }}>
    {% for profession in professions %}
        <li>{{ profession }}</li>
    {% endfor %}
</{{ type_of_list }}>
{% endblock %}